* {
    margin: 0;
    padding: 0;
    /* font-weight: 300; */
    box-sizing: border-box;
    font-family: Okra, Helvetica, sans-serif;
    /* color: #807f7f; */
    /* color: ; */


}

body {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: aqua;
    background-image: url("../img/HPbg.jpg");
    color: #050202;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

/* this is for navigation bar */

#first-section {
    height: 8vh;
}

.navigation {
    height: 8vh;
    width: 100vw;
    margin: 0;
    border-bottom: 1px solid white;
    display: flex;
    position: fixed;
    top: 0px;
    background-color: rgb(43, 42, 42);
}

.namebox {
    height: 70px;
    width: 180px;
    margin-left: 7%;
    border-bottom: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 15px 40px;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    font-weight: 380;
    color: #ffffff;


    background-color: green;
}

.nav-right {
    height: inherit;
    width: 45%;
    /* border: 2px solid red; */
    margin-left: 30%;
    margin-right: 5%;
    color: #ffffff;
}

.nav-right ul {
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    list-style: none;

}

.nav-right ul li:hover {
    /* height: 80%; */
    border-top: 3px solid rgb(12, 224, 12);
    color: rgb(12, 224, 12);

}

/* this second section for introduction */

#second-section{
    height: 92vh;
    width: 100vw;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction{
    height: 40%;
    width: 40%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    row-gap: 20px;
}
.introduction h1{
    height: 30px;
    background-color: #050202;    
}